<!--<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"-->
<!--          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">-->
<!--    <mirrors>-->
<!--        <mirror>-->
<!--            <id>nexus-releases</id>-->
<!--            <name>central</name>-->
<!--            <url>https://nexus-dev.eub.kz/repository/maven-public/</url>-->
<!--            <mirrorOf>*</mirrorOf>-->
<!--        </mirror>-->
<!--    </mirrors>-->
<!--</settings>-->


<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>nexus-maven-snapshots-govtech</id>
            <username>Tamur-read</username>
            <password>Super333!</password>
            <configuration>
                <certificate>nexus.eub.kz.crt</certificate>
            </configuration>
        </server>

    </servers>

    <profiles>

        <profile>
            <id>useNexusEubKz</id>
            <repositories>
                <repository>
                    <id>nexus-maven-snapshots-govtech</id>
                    <name>nexus-maven-snapshots-govtech</name>
                    <url>https://nexus.eub.kz/repository/maven-snapshots-govtech/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>

                </repository>

                <!-- Добавляем Maven Central -->
                <repository>
                    <id>central</id>
                    <name>Maven Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <snapshots>
                        <enabled>false</enabled> <!-- Запрещаем скачивание snapshot-версий -->
                    </snapshots>
                    <releases>
                        <enabled>true</enabled> <!-- Разрешаем скачивание стабильных версий -->
                    </releases>
                </repository>
            </repositories>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>useNexusEubKz</activeProfile>
    </activeProfiles>

</settings>
